/connection-module/nbproject/private/
/connection-module/build/
/connection-module/dist/
/arduino-module/nbproject/private/
/arduino-module/build/
/TEST SERVER/nbproject/private/
/TEST SERVER/build/
/arduino-module/dist/